<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from bulkitv2.cssninja.io/dashboard/dashboard-datatable-advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jun 2019 14:48:13 GMT -->

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> YWait :: Menu</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="Analytics/assets/css/bulma.css">
    <link rel="stylesheet" href="Analytics/assets/css/app.css">
    <link rel="stylesheet" href="Analytics/assets/css/dashboard.css">
    <link rel="stylesheet" href="Analytics/assets/css/icons.min.css">
    <link rel="stylesheet" href="Analytics/assets/css/common.css">
    <script src="assets/js/core/jquery.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js"></script>
    <!-- <script type="text/javascript" src="Analytics/assets/js/dashboard-design.js"></script> -->
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/menuautocomplete.js"></script>

</head>
<style>
    button {
        border: 0px;
        width: 70px;
    }

    button:hover {
        box-shadow: 0px 2px 2px grey;
        transition: 0.2s;
    }

    select {
        width: 100%;
        padding: 5px;
        border-radius: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        outline: none;
    }

    .control-material input.material-input,
    .control-material textarea {
        font-size: 14px;
        padding: 0.825em 0.625em 0.625em 0.5125em;
    }
</style>

<body>
    <% include side-navbar.ejs %>
    <!-- Update Menu Form -->
    <div class="update-form-modal">
        <!-- /Update Menu Form -->
        <script>
            $('.hide_update_btn').click(function () {
                $('.hide_update_form').hide();
            });
        </script>
    </div>
    <!-- Card modal -->
    <div id="card-modal" class="modal modal-sm" style="width:100%;z-index: 9999;">
        <div class="modal-background"></div>
        <div class="modal-card modal-content z-index-101" style="width: 80%!important;">
            <!-- User table widget -->
            <header class="modal-card-head">
                <p class="modal-card-title">Add New Item in Menu</p>
                <!-- <input type="text" class="search_food"> -->
                <button class="delete is-medium modal-dismiss" aria-label="close"></button>
            </header>
            <form autocomplete="off" method="POST" action="/addFoodInMenu" id="foodform">
                <input type='hidden' class="txt-style" name='restaurant_food_menu_id' id="restaurant_food_menu_id">
                <input type='text' name='restaurantId' style="display: none;" value='<%= data[0].t1 %>'>
                <table class="table hire-table full-width">
                    <tr>
                        <td>
                            <!-- <input type='text' class="txt-style" name='food_name' id="food_name" required autocomplete="on">  -->
                            <div class="control-material is-primary">
                                <input class="material-input " type="text" name='food_name' id="food_name"
                                    placeholder="Dish Name" required>
                                <script>
                                    autocomplete(document.getElementById("food_name"), foodNames);
                                </script>
                                <!-- <span class="material-highlight"></span> -->
                                <!-- <span class="bar"></span> -->
                                <!-- <label>Dish Name</label> -->
                            </div>
                        </td>
                        <td>
                            <div class="control-material is-primary">
                                <input class="material-input " type="text" name='food_price' id="food_price"
                                    autocomplete="on" placeholder="Dish Cost" required>
                                <!-- <span class="material-highlight"></span>
                                <span class="bar"></span>
                                <label>Dish Cost</label> -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="food_quantity" class="select-quantity">
                                <option>Select Quantity</option>
                                <option name="food_quantity" value="Full">Full</option>
                                <option name="food_quantity" value="Half">Half</option>
                                <option name="food_quantity" value="Single">Single</option>
                                <option name="food_quantity" value="Family Pack">Family Pack</option>
                                <option name="food_quantity" value="Double">Double</option>
                            </select>
                        </td>
                        <td>
                            <select name="is_veg" class="select-quantity">
                                <option>Is Veg</option>
                                <option name="is_veg" value="0">No</option>
                                <option name="is_veg" value="1">Yes</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="control-material is-primary">
                                <input class="material-input " type="text" name='menu_category' id="menu_category"
                                    autocomplete="on" placeholder="Menu Category">
                                <!-- <span class="material-highlight"></span>
                                <span class="bar"></span>
                                <label>Menu Category</label> -->
                            </div>
                        </td>
                        <td>
                            <select name="is_customizable" class="select-quantity">
                                <option>Is Customizable</option>
                                <option name="is_customizable" value="0">No</option>
                                <option name="is_customizable" value="1">Yes</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="control-material is-primary">
                                <input class="material-input " type="text" name='food_description' id="food_description"
                                    autocomplete="on" placeholder="Dish Description">
                                <!-- <span class="material-highlight"></span>
                                <span class="bar"></span>
                                <label>Dish Description</label> -->
                            </div>
                        </td>
                        <td>
                            <div class="control-material is-primary">
                                <input class="material-input " type="text" name='ready_in' id="ready_in"
                                    autocomplete="on" placeholder="Ready In">
                                <!-- <span class="material-highlight"></span>
                                <span class="bar"></span>
                                <label>Ready In</label> -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:center;">
                            <input type='submit' name='save' class='btn-save-menu' value="save">
                        </td>
                        <td>
                            <!-- <div class="upload-btn-wrapper">
                                    <input type="file" name="food_img" accept="image" id="food_img" />
                              </div> -->
                        </td>
                    </tr>
                </table>
            </form>
            <!-- /User table widget -->
        </div>
    </div>
    <!-- /Card modal -->
    <!-- Top Navbar -->
    <% include top-navbar.ejs %>
    <!-- /Top Navbar -->
    <div class="mobile-nav is-hidden-desktop">
        <div class="container is-fluid">
            <div class="mobile-nav-inner">
                <a class="mobile-item">
                    <i class="sl sl-icon-bell"></i>
                    <span class="new-circle gelatine"></span>
                </a>
                <a class="mobile-item">
                    <i class="sl sl-icon-envelope-open"></i>
                    <span class="new-circle gelatine"></span>
                </a>
                <a class="mobile-item modal-trigger" data-modal="search-modal">
                    <i class="sl sl-icon-magnifier"></i>
                </a>
                <a class="mobile-item" data-show="quickview" data-target="main-quickview">
                    <i class="sl sl-icon-bubble"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Main dashboard container -->
    <div id="dashboard-wrapper" class="columns">
        <div class="column"></div>
        <div class="content column is-11">

            <!-- Dashboard Wrapper -->
            <div class="dashboard-wrapper">

                <div class="columns">
                    <div class="column">
                        <!-- Main content -->
                        <div id="main-dashboard" class="section-wrapper">
                            <!-- Dashboard content -->
                            <div id="datatable-layout" class="columns dashboard-columns">
                                <div class="column"></div>
                                <div class="column is-11">

                                    <style>
                                        .confirm-modal {
                                            border: 1px solid;
                                            height: 100px;
                                            text-align: center;
                                            padding: 20px;
                                        }
                                    </style>

                                    <div class="confirm-modal" style="display:none;">
                                        Confirm Delete?<br>
                                        <button class="food_resturant_delete btn btn-danger" id="confirm_remove"
                                            value='" + remove_id + "'>Remove</button>
                                        <button class="food_resturant_delete btn btn-danger"
                                            id="cancel_remove">Cancel</button>
                                    </div>
                                    <h2 class="demo-title">Menu Management</h2>
                                    <!-- Advanced Datatable -->
                                    <div class="table-wrapper">
                                        <table id="advanced-datatable"
                                            class="table is-datatable is-hoverable table-is-bordered hire-table order menu_table_body">
                                            <thead>
                                                <tr>
                                                    <th>Food</th>
                                                    <th>Dish</th>
                                                    <th>Category</th>
                                                    <th>Quantity</th>
                                                    <th>Cost</th>
                                                    <th>Available</th>
                                                    <th>Recommended</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i < data[0].result.length; i++) { %>
                                                <tr class="cloneRow <%= data[0].result[i].restaurant_food_menu_id %>">
                                                    <td style='text-align:center;' class=""><img
                                                            src='<%= data[0].result[i].restaurant_food_img_url %>'
                                                            alt='' class="food_img"></td>
                                                    <td style='text-align:center;' class="food_Name">
                                                        <%= data[0].result[i].food_name %>
                                                    </td>
                                                    <td style='text-align:center;' class="food_Category">
                                                        <%= data[0].result[i].menu_category %></td>
                                                    <td style='text-align:center;' class="food_Quantity">
                                                        <%= data[0].result[i].food_quantity %></td>
                                                    <td style='text-align:center;' class="food_Price">
                                                        <%= data[0].result[i].food_price %></td>
                                                    <td style='text-align:center;'>
                                                        <select class='food_status food-select order_Status'
                                                            data-value='<%= data[0].result[i].restaurant_food_menu_id %>'
                                                            id='food_status-<%= data[0].result[i].restaurant_food_menu_id %>'>
                                                            <option value='1'>Yes</option>
                                                            <option value='0'>No</option>
                                                        </select>
                                                        <script>
                                                            $('#food_status-<%= data[0].result[i].restaurant_food_menu_id %>').val('<%= data[0].result[i].is_available %>');
                                                        </script>
                                                    </td>
                                                    <td style='text-align:center;'>
                                                        <select class='food_recommended food-select order_Status'
                                                            data-value='<%= data[0].result[i].restaurant_food_menu_id %>'
                                                            id='food_recommended-<%= data[0].result[i].restaurant_food_menu_id %>'>
                                                            <option value='1'>Yes</option>
                                                            <option value='0'>No</option>
                                                        </select>
                                                        <script>
                                                            $('#food_recommended-<%= data[0].result[i].restaurant_food_menu_id %>').val('<%= data[0].result[i].is_recommended %>');
                                                        </script>
                                                    </td>
                                                    <td style='text-align:center;'>
                                                        <div class='column'>
                                                            <button type='button'
                                                                class='food_resturant_update btn btn-primary modal-trigger'
                                                                data-modal='card-modal'
                                                                data-value='<%= data[0].result[i].restaurant_food_menu_id %>'>Update</button>
                                                            <Button class='food_resturant_delete btn btn-danger'
                                                                data-value='<%= data[0].result[i].restaurant_food_menu_id %>'>Remove</Button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>

                                        <table class="cloneTableOrderFood" style="display: none!important;">
                                            <tr class="cloneRow">
                                                <td></td>
                                                <td style="text-align: center;">
                                                    <h4><span class="label label-success"><span
                                                                class="food_Name"></span></span><i
                                                            class="fa fa-food"></i></h4>
                                                </td>
                                                <!-- <td>
                                                          <h4><span class="food_Type"></span><i class="fa fa-food"></i></h4>
                                                       </td> -->
                                                <td style="text-align: center;">
                                                    <h4><span class="label label-success"><span
                                                                class="food_count"></span></span></h4>
                                                </td>
                                                <td style="text-align: center;">
                                                    <h4><span class="label label-success"><i class="fa fa-inr"
                                                                aria-hidden="true"></i><span
                                                                class="food_price"></span></span></h4>
                                                </td>
                                                <td style="text-align: center;">
                                                    <h4><span class="label label-success"><span
                                                                class="comments"></span><i class="fa fa-comments-o"
                                                                aria-hidden="true"></i></span></h4>
                                                </td>
                                                <td style="text-align: center;">
                                                    <select class='food-select order_Status_OrderFood' data-value=''>
                                                        <!-- <option class='opt-food'>Select Option</option> -->
                                                        <option class='opt-food' value='REJECTED'>Rejected</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr class="cloneClose">
                                                <td>
                                                    <button class="model-close" onclick="close_model();">
                                                        Close
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- <div id="paging-first-datatable" class="pagination"></div> -->
                                        <div id="paging-first-datatable" class="pagination">
                                        </div>
                                    </div>
                                    <!-- /Advanced Datatable -->

                                </div>

                                <div class="column"></div>

                            </div>
                            <!-- /Dashboard content -->
                        </div>
                        <!-- /Main content -->
                    </div>
                    <!-- /Main view -->
                </div>
            </div>
            <table class="cloneTable" style="display: none!important;">
                <tr class="cloneRow">
                    <td style='text-align:center;' class=""><img src='' alt='' class="food_img"></td>
                    <td style='text-align:center;' class="food_Name"></td>
                    <td style='text-align:center;' class="food_Category"></td>
                    <td style='text-align:center;' class="food_Quantity"></td>
                    <td style='text-align:center;' class="food_Price"></td>
                    <td style='text-align:center;'><select class='food_status  food-select order_Status'>
                            <option value='1'>Yes</option>
                            <option value='0'>No</option>
                        </select></td>
                    <td style='text-align:center;'><select class='food_recommended  food-select order_Status'>
                            <option value='1'>Yes</option>
                            <option value='0'>No</option>
                        </select></td>
                    <td style='text-align:center;'>
                        <div class='column'>
                            <button type='button'
                                class='food_resturant_update update-modal btn btn-primary modal-trigger'
                                data-modal='card-modal'>Update</button>
                            <Button class='food_resturant_delete btn btn-danger'>Remove</Button>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- /Dashboard Wrapper -->
        </div>
        <div class="column"></div>
    </div>
    <!-- Main dashboard container -->
    <!-- Add New Dish Modal -->
    <div class="column">
        <!-- Card modal -->
        <div id="card-modal" class="modal modal-sm" style="width:100%;">
            <div class="modal-background"></div>
            <div class="modal-card modal-content z-index-101" style="width: 80%!important;">
                <!-- User table widget -->
                <header class="modal-card-head">
                    <p class="modal-card-title">Add New Item in Menu</p>
                    <!-- <input type="text" class="search_food"> -->
                    <button class="delete is-medium modal-dismiss" aria-label="close"></button>
                </header>
                <form autocomplete="off" method="POST" action="/addFoodInMenu" id="foodform">
                    <input type='hidden' class="txt-style" name='restaurant_food_menu_id' id="restaurant_food_menu_id">
                    <input type='text' name='restaurantId' style="display: none;" value='<%= data[0].t1 %>'>
                    <table class="table hire-table">
                        <tr>
                            <td>
                                <!-- <input type='text' class="txt-style" name='food_name' id="food_name" required autocomplete="on">  -->
                                <div class="control-material is-primary">
                                    <input class="material-input " type="text" name='food_name' id="food_name" required>
                                    <script>
                                        autocomplete(document.getElementById("food_name"), foodNames);
                                    </script>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Dish Name</label>
                                </div>
                            </td>
                            <td>
                                <div class="control-material is-primary">
                                    <input class="material-input " type="text" name='food_price' id="food_price"
                                        autocomplete="on" required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Dish Cost</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="food_quantity" class="select-quantity">
                                    <option>Select A Quantity</option>
                                    <option name="food_quantity" value="Full">Full</option>
                                    <option name="food_quantity" value="Half">Half</option>
                                    <option name="food_quantity" value="Single">Single</option>
                                    <option name="food_quantity" value="Family Pack">Family Pack</option>
                                    <option name="food_quantity" value="Double">Double</option>
                                </select>
                            </td>
                            <td>
                                <select name="is_veg" class="select-quantity">
                                    <option>Is Veg</option>
                                    <option name="is_veg" value="0">No</option>
                                    <option name="is_veg" value="1">Yes</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="control-material is-primary">
                                    <input class="material-input " type="text" name='menu_category' id="menu_category"
                                        autocomplete="on" required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Menu Category</label>
                                </div>
                            </td>
                            <td>
                                <select name="is_customizable" class="select-quantity">
                                    <option>Is Customizable</option>
                                    <option name="is_customizable" value="0">No</option>
                                    <option name="is_customizable" value="1">Yes</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="control-material is-primary">
                                    <input class="material-input " type="text" name='food_description'
                                        id="food_description" autocomplete="on" required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Dish Description</label>
                                </div>
                            </td>
                            <td>
                                <div class="control-material is-primary">
                                    <input class="material-input " type="text" name='ready_in' id="ready_in"
                                        autocomplete="on" required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Ready In</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:center;">
                                <input type='submit' name='save' class='btn-save-menu' value="save">
                            </td>
                            <td>
                                <!-- <div class="upload-btn-wrapper">
                                   <input type="file" name="food_img" accept="image" id="food_img" />
                             </div> -->
                            </td>
                        </tr>
                    </table>
                </form>
                <!-- /User table widget -->
            </div>
        </div>
        <!-- /Card modal -->
    </div>
    <!-- /Add New Dish Modal -->

    <!-- Update Menu Dish Modal -->
    <div class="column">
        <!-- Card modal -->
        <div id="card-modal" class="modal modal-sm" style="width:100%;">
            <div class="modal-background"></div>
            <div class="modal-card modal-content z-index-101" style="width: 80%!important;">
                <!-- User table widget -->
                <header class="modal-card-head">
                    <p class="modal-card-title">Select Dish</p>
                    <input type="text" class="search_food">
                    <button class="delete is-medium modal-dismiss" aria-label="close"></button>
                </header>
                <form method="GET" action="/addFoodInMenu">
                    <table class="table hire-table">
                        <tr>
                            <td>Dish Name</td>
                            <td> <input type='text' name='food_name' id="food_name" required> </td>
                            <td>Cost</td>
                            <td> <input type='text' name='food_price' id="food_price" required> </td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td>
                                <select name="food_quantity">
                                    <option>Select A Quantity</option>
                                    <option name="food_quantity" value="Full">Full</option>
                                    <option name="food_quantity" value="Half">Half</option>
                                    <option name="food_quantity" value="Single">Single</option>
                                    <option name="food_quantity" value="Family Pack">Family Pack</option>
                                    <option name="food_quantity" value="Double">Double</option>
                                </select>
                            </td>
                            <td>Is Veg?</td>
                            <td>
                                <input type='radio' value='0' name='is_veg' id="is_veg" required>No
                                <input type='radio' value='1' name='is_veg' id="is_veg" required>Yes
                            </td>
                        </tr>
                        <tr>
                            <td>Menu Category</td>
                            <td> <input type='text' name='menu_category' id="menu_category" required> </td>
                            <td>Is Customizable</td>
                            <td>
                                <input type='radio' value='0' name='is_customizable' id="is_customizable" required>No
                                <input type='radio' value='1' name='is_customizable' id="is_customizable" required>Yes
                            </td>
                        </tr>
                        <tr>
                            <td>Dish Description</td>
                            <td> <input type='text' name='food_description' id="food_description" required> </td>
                            <td>Ready In?</td>
                            <td> <input type='text' name='ready_in' id="ready_in" required> </td>
                        </tr>
                        <tr>
                            <td><input type='submit' name='save' value="save"></td>
                        </tr>
                    </table>
                </form>
                <!-- /User table widget -->
            </div>
        </div>
        <!-- /Card modal -->
    </div>
    <!-- /Update Menu Dish Modal -->
    <!-- Right sidebar quickview -->
    <div id="main-quickview" class="quickview is-right">
        <!-- Quickview header -->
        <header class="quickview-header">
            <p class="title">Messages</p>
            <span class="material-icons quickview-close">close</span>
        </header>
        <!-- /Quickview header -->

        <!-- Quickview body -->
        <div class="quickview-body">
            <div class="quickview-block">
                <!-- Quickview tabs -->
                <div class="navigation-tabs animated-tabs simple-tabs">
                    <div class="tabs is-fullwidth">
                        <ul>
                            <li class="is-active" data-tab="user-directory"><a><i class="sl sl-icon-people"></i></a>
                            </li>
                            <li data-tab="reminders"><a><i class="sl sl-icon-clock"></i></a></li>
                            <li data-tab="quickview-settings"><a><i class="sl sl-icon-settings"></i></a></li>
                        </ul>
                    </div>

                    <!-- User directory tab -->
                    <div id="user-directory" class="navtab-content is-active">
                        <div class="panel-title">
                            <h3>USER DIRECTORY</h3>
                            <i class="material-icons ml-auto">more_vert</i>
                        </div>

                        <!-- Seach field -->
                        <div class="field">
                            <div class="searchbox control has-icons-left">
                                <input class="input" type="text" placeholder="Search users">
                                <span class="icon is-left">
                                    <i class="sl sl-icon-magnifier"></i>
                                </span>
                            </div>
                        </div>
                        <!-- /Seach field -->

                        <!-- User list -->
                        <ol class="user-list">
                            <!-- User -->
                            <li class="quickview-trigger" data-quickview="chat-quickview">
                                <div class="status-dot"></div>
                                <img src="https://via.placeholder.com/250x250" alt=""
                                    data-demo-src="assets/images/avatars/anthony.jpg">
                                <div class="user-status">
                                    <div class="name">Anthony Briggs</div>
                                    <div class="status">Offline</div>
                                </div>
                            </li>
                            <!-- User -->
                            <li>
                                <div class="status-dot is-online"></div>
                                <img src="https://via.placeholder.com/250x250" alt=""
                                    data-demo-src="assets/images/avatars/elie.jpg">
                                <div class="user-status">
                                    <div class="name">Benedict Shaeffer</div>
                                    <div class="status">Online</div>
                                </div>
                            </li>
                            <!-- User -->
                            <li>
                                <div class="status-dot is-busy"></div>
                                <img src="https://via.placeholder.com/250x250" alt=""
                                    data-demo-src="assets/images/avatars/nicole.jpg">
                                <div class="user-status">
                                    <div class="name">Nicole Ferrier</div>
                                    <div class="status">Busy</div>
                                </div>
                            </li>
                            <!-- User -->
                            <li>
                                <div class="status-dot"></div>
                                <img src="https://via.placeholder.com/250x250" alt=""
                                    data-demo-src="assets/images/avatars/henry.jpg">
                                <div class="user-status">
                                    <div class="name">Henry Rodstein</div>
                                    <div class="status">Offline</div>
                                </div>
                            </li>
                            <!-- User -->
                            <li>
                                <div class="status-dot is-online"></div>
                                <img src="https://via.placeholder.com/250x250" alt=""
                                    data-demo-src="assets/images/avatars/carolin.png">
                                <div class="user-status">
                                    <div class="name">Marjory Cambell</div>
                                    <div class="status">Online</div>
                                </div>
                            </li>
                            <!-- User -->
                            <li>
                                <div class="status-dot is-online"></div>
                                <img src="https://via.placeholder.com/250x250" alt=""
                                    data-demo-src="assets/images/avatars/marge.jpg">
                                <div class="user-status">
                                    <div class="name">Stella Roberts</div>
                                    <div class="status">Online</div>
                                </div>
                            </li>
                            <!-- User -->
                            <li>
                                <div class="status-dot is-busy"></div>
                                <img src="https://via.placeholder.com/250x250" alt=""
                                    data-demo-src="assets/images/avatars/sayid.jpg">
                                <div class="user-status">
                                    <div class="name">Sayid Jabrane</div>
                                    <div class="status">Busy</div>
                                </div>
                            </li>
                            <!-- User -->
                            <li class="giant-pb">
                                <div class="status-dot"></div>
                                <img src="https://via.placeholder.com/250x250" alt=""
                                    data-demo-src="assets/images/avatars/sally.jpg">
                                <div class="user-status">
                                    <div class="name">Sally Mitchells</div>
                                    <div class="status">Offline</div>
                                </div>
                            </li>
                        </ol>
                        <!-- /User list -->
                    </div>
                    <!-- /User directory tab -->
                    <!-- Reminders tab -->
                    <div id="reminders" class="navtab-content">
                        <div class="panel-title">
                            <h3>REMINDERS</h3>
                            <i class="material-icons modal-trigger ml-auto" data-toggle="tooltip" data-placement="left"
                                data-title="Add reminder" data-modal="add-reminder-modal">add</i>
                        </div>
                        <!-- Reminders list -->
                        <ol class="reminders-list">
                            <!-- Reminders -->
                            <li>
                                <!-- Reminder -->
                                <div class="reminder">
                                    <div class="info">
                                        <i class="fa fa-circle is-low"></i>
                                        <span><i class="im im-icon-Calendar-4"></i></span>
                                        <span class="date"> Today</span>
                                    </div>
                                    <div class="reminder-content">
                                        Review the number of subscriptions before ICO
                                    </div>
                                    <div class="reminder-controls">
                                        <i class="sl sl-icon-settings" data-toggle="tooltip" data-placement="top"
                                            data-title="Edit"></i>
                                        <i class="sl sl-icon-trash" data-toggle="tooltip" data-placement="top"
                                            data-title="Delete"></i>
                                    </div>
                                </div>
                                <!-- Reminder -->
                                <div class="reminder">
                                    <div class="info">
                                        <i class="fa fa-circle is-low"></i>
                                        <span><i class="im im-icon-Calendar-4"></i></span>
                                        <span class="date"> 2 weeks left</span>
                                    </div>
                                    <div class="reminder-content">
                                        Clean up database before migration to production server
                                    </div>
                                    <div class="reminder-controls">
                                        <i class="sl sl-icon-settings" data-toggle="tooltip" data-placement="top"
                                            data-title="Edit"></i>
                                        <i class="sl sl-icon-trash" data-toggle="tooltip" data-placement="top"
                                            data-title="Delete"></i>
                                    </div>
                                </div>
                                <!-- Reminder -->
                                <div class="reminder">
                                    <div class="info">
                                        <i class="fa fa-circle is-high"></i>
                                        <span><i class="im im-icon-Calendar-4"></i></span>
                                        <span class="date"> 1 month left</span>
                                    </div>
                                    <div class="reminder-content">
                                        Rewrite user model scripting before tests
                                    </div>
                                    <div class="reminder-controls">
                                        <i class="sl sl-icon-settings" data-toggle="tooltip" data-placement="top"
                                            data-title="Edit"></i>
                                        <i class="sl sl-icon-trash" data-toggle="tooltip" data-placement="top"
                                            data-title="Delete"></i>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <!-- /Reminders list -->
                    </div>
                    <!-- /Reminders tab -->
                    <!-- Settings tab -->
                    <div id="quickview-settings" class="navtab-content">
                        <!-- Header -->
                        <div class="panel-title">
                            <h3>SETTINGS</h3>
                            <i class="material-icons ml-auto">more_vert</i>
                        </div>
                        <!-- Header -->

                        <!-- Settings -->
                        <ol class="settings-list">
                            <!-- Busy mode toggle -->
                            <li>
                                <div class="setting-header">
                                    <div class="setting-title">Busy mode</div>
                                    <div class="setting-control">
                                        <div class="field">
                                            <input id="busySwitch" type="checkbox" name="busySwitch"
                                                class="switch is-outlined is-warning">
                                            <label for="busySwitch"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-description">
                                    Activate to set your status to busy. While you are busy, other users can't send you
                                    direct messages.
                                </div>
                            </li>
                            <!-- /Busy mode toggle -->

                            <!-- Setting -->
                            <li>
                                <div class="setting-header">
                                    <div class="setting-title">Notifications</div>
                                    <div class="setting-control">
                                        <div class="field">
                                            <input id="notificationsSwitch" type="checkbox" name="notificationsSwitch"
                                                checked class="switch is-outlined is-secondary">
                                            <label for="notificationsSwitch"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-description">
                                    Activate to enabla activity notifications. You can find more notifications settings
                                    in the general settings.
                                </div>
                            </li>
                            <!-- Setting -->
                            <li>
                                <div class="setting-header">
                                    <div class="setting-title">Push Notifications</div>
                                    <div class="setting-control">
                                        <div class="field">
                                            <input id="notificationsPushSwitch" type="checkbox"
                                                name="notificationsPushSwitch" checked
                                                class="switch is-outlined is-primary">
                                            <label for="notificationsPushSwitch"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-description">
                                    Activate to enable push notifications. You can find more notifications settings in
                                    the general settings.
                                </div>
                            </li>
                        </ol>
                        <!-- /Settings -->
                    </div>
                    <!-- /Settings tab -->
                </div>
                <!-- /Quickview tabs -->
            </div>
        </div>
        <!-- /Quickview body -->

        <!-- Quickview footer -->
        <footer class="quickview-footer"></footer>
        <!-- /Quickview footer -->
    </div> <!-- Chat quickview -->
    <div id="chat-quickview" class="quickview is-right is-chat chat-quickview">
        <header class="quickview-header is-secondary">
            <p class="title">Anthony Briggs</p>
            <span class="material-icons quickview-close">close</span>
        </header>

        <!-- Quickview message body -->
        <div class="quickview-body">
            <div id="message-container" class="message-container">
                <div class="divider">
                    <span class="before-divider"></span>
                    <div class="children">Yesterday</div>
                    <span class="after-divider"></span>
                </div>
                <div class="chat-message to">
                    <div class="bubble-wrapper">
                        <div class="timestamp">02:48 pm</div>
                        <div class="chat-bubble">
                            Hello Anthony, did you finish the Hackman project's report ?
                        </div>
                    </div>
                    <img src="https://via.placeholder.com/250x250" alt=""
                        data-demo-src="assets/images/avatars/helen.jpg">
                </div>
                <div class="chat-message to">
                    <div class="bubble-wrapper">
                        <div class="timestamp">02:48 pm</div>
                        <div class="chat-bubble">
                            I need it for some paper work.
                        </div>
                    </div>
                    <img src="https://via.placeholder.com/250x250" alt=""
                        data-demo-src="assets/images/avatars/helen.jpg">
                </div>
                <div class="chat-message from">
                    <img src="https://via.placeholder.com/250x250" alt=""
                        data-demo-src="assets/images/avatars/anthony.jpg">
                    <div class="bubble-wrapper">
                        <div class="timestamp">02:49 pm</div>
                        <div class="chat-bubble">
                            The Hackman report ? Iam almost done with it
                        </div>
                    </div>
                </div>
                <div class="divider mt-40">
                    <span class="before-divider"></span>
                    <div class="children">Today</div>
                    <span class="after-divider"></span>
                </div>
                <div class="chat-message from">
                    <img src="https://via.placeholder.com/250x250" alt=""
                        data-demo-src="assets/images/avatars/anthony.jpg">
                    <div class="bubble-wrapper">
                        <div class="timestamp">11:37 pm</div>
                        <div class="chat-bubble">
                            Did you reveive the report in your inbox ? I sent it to you this morning
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Quickview message body -->

        <!-- Message input -->
        <footer class="quickview-footer">
            <div class="message-input">
                <textarea id="chat-input" class="" rows="1" placeholder="Send a message ..."></textarea>
                <div class="message-options">
                    <div class="emoji-button"></div>
                    <div class="attach-button"></div>
                </div>
            </div>
        </footer>
        <!-- /Message input -->
    </div>
    <!-- /Chat quickview -->
    <!-- Search Modal -->
    <div id="search-modal" class="modal modal-lg modal-hero">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="control-material has-icon is-light">
                <input class="material-input" type="text" placeholder="Search..." required autofocus>
                <i class="material-icons">search</i>
                <span class="material-highlight"></span>
                <span class="bar"></span>
            </div>
        </div>
        <button class="modal-close is-large is-hidden" aria-label="close"></button>
    </div>
    <!-- Search modal -->
    <!-- Reminder Modal -->
    <div id="add-reminder-modal" class="modal modal-sm modal-hero">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="flex-card simple-shadow">
                <div class="card-body">
                    <div class="content">
                        <h2 class="has-text-centered dark-text pb-20">New Reminder</h2>
                        <!-- New reminder form -->
                        <form>
                            <div class="field mb-10">
                                <label class="label dark-text font-w-500">Remind me before</label>
                                <div class="control has-icons-right">
                                    <input data-toggle="datepicker" type="text" class="input is-medium"
                                        placeholder="select a date ...">
                                    <span class="icon is-right is-medium">
                                        <i class="im im-icon-Calendar-4"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field mb-10">
                                <div class="control has-icons-left">
                                    <input type="text" class="input timepicker-24 is-medium" placeholder="set time">
                                    <span class="icon is-left is-medium">
                                        <i class="sl sl-icon-clock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field mb-10">
                                <label class="label dark-text font-w-500">Priority</label>
                                <div class="control">
                                    <select class="chosen-select" data-placeholder="Select a priority">
                                        <option label="Priority"></option>
                                        <option>Low</option>
                                        <option>Medium</option>
                                        <option>High</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field mb-10">
                                <label class="label dark-text font-w-500">Remind me what ?</label>
                                <div class="control">
                                    <textarea class="textarea is-grow is-secondary-focus" rows="5"
                                        placeholder="Type something relevant ..."></textarea>
                                </div>
                            </div>
                            <div class="has-text-right mt-30">
                                <button type="submit"
                                    class="button btn-dash secondary-btn no-lh rounded is-fullwidth is-raised ripple">Create
                                    reminder</button>
                            </div>
                        </form>
                        <!-- /New reminder form -->
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large is-hidden" aria-label="close"></button>
    </div>
    <!-- Reminder Modal -->
    <!-- Concatenated jQuery and plugins -->
    <script src="Analytics/assets/js/app.js"></script>
    <script src="Analytics/assets/js/core.js"></script>

    <!-- Bulkit js -->
    <script src="Analytics/assets/js/components-modals.js"></script>
    <!--script src="assets/js/components-quickview.js"></script-->
    <script src="Analytics/assets/js/common.js"></script>
    <script src="Analytics/assets/js/dashboard-design.js"></script>

    <!-- Extensions js -->
    <script src="Analytics/assets/js/documents.js"></script>
    <script src="Analytics/assets/js/contacts.js"></script>
    <script src="Analytics/assets/js/projects.js"></script>
    <script src="Analytics/assets/js/kanban.js"></script>
    <script src="Analytics/assets/js/crm.js"></script>
    <script src="Analytics/assets/js/forum.js"></script>
    <script src="Analytics/assets/js/support.js"></script>
    <script src="Analytics/assets/js/datatable.js"></script>
    <script src="Analytics/assets/js/charts.js"></script>
    <script src="Analytics/assets/js/chat.js"></script>
    <script src="Analytics/assets/js/mailbox.js"></script>
</body>


<!-- Mirrored from bulkitv2.cssninja.io/dashboard/dashboard-datatable-advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jun 2019 14:48:13 GMT -->

</html>